<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quattrocento|Vollkorn:400,400i,700,700i">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		
	</head>

	<body style="height: 800px">
		Web Sharp Studios is undergoing Chapter 13 bankruptcy Reorganization.   Please come back later
	</body>
	<footer>
		<span style="font-size:xx-small; font-size-adjust: unset;">
			A list of sites impacted for potentially 90 days:
			websharpstudios.com
			harper-corp.com
			multnomahbar.org
			fronts.cloud
			xfinity-lawsuits.com
			qualityloan.co (not available)
			luminarylegal.com
			legalluminary.com
			</span>
	</footer>
</html>
